* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}


body {
    background-image: url('graycloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(119, 119, 118, 0.61);
}


header {
    background-color: #96b7f5b6;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    filter: drop-shadow(0px 15px 5px);
}

.head {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name {
    font-size: 30px;
}

.head a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: 1%;
}

.headermenu div {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 2.5%;
}

.kontaktsektion {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.kontakt-left, .kontakt-right {
    padding: 20px;
}

.kontakt-left {
    flex: 1;
    padding-right: 40px;
}

.kontakt-left h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.kontakt-left p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
}

.kontakt-left form {
    display: flex;
    flex-direction: column;
}

.kontakt-left label {
    margin-bottom: 5px;
    font-weight: bold;
}

.kontakt-left input,
.kontakt-left textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.kontakt-left button {
    padding: 15px;
    font-size: 18px;
    background-color: #7ba1e8b6;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.kontakt-left button:hover {
    background-color: rgba(119, 119, 118, 0.61);
}

.kontakt-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.kontakt-right img {
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
}

